.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #96958c, #9e9a8e);
    background-size: 100% 300px;
    background-position: 0% 100%;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
    text-shadow: 1px 1px 2px rgba(8, 7, 7, 0.5);
    border-radius:5px;
    transition: background-color 0.5s ease-in-out;
    z-index: 2;
}

.header:hover {
    background-image: linear-gradient(to bottom, #000, #000); /* change background image to linear black gradient on hover */
  }

.navcontainer {
  display:flex;
  justify-content: space-between;
  align-items: flex-start    ;
  
   }
   
   .navlogo {
    background-color: rgb(178, 197, 55);
    border-radius: 40px;
    border-color: bisque;
    align-self: flex-start;
    font-weight: 100;
   
    padding: 20px;
    transition: 0.4s;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    align-self: flex-start;
    
    /* Add one or more of the following text effects */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(left, #ff69b4, #ffe6cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px beige;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
   }
   
   
   
   
   .navlist {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 10px;
    row-gap: 2.5rem;
    list-style-type: none;
   }
   


   .Link{
    color:whitesmoke;
    text-shadow: 0 0 10px rgb(212, 226, 53);
    text-decoration: none;
    margin: 10px;
    font-weight: 200;
    font-style: Bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    animation: pulse 2s infinite;
    position: relative;
}

.Link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.Link:hover {
    background-color: #333;
    color: #fff;
    text-decoration: underline;
}

.Link:hover::before {
    transform: scaleX(1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    .header {
      background-size: 100% 200px;
      background-position: 0% 100%;
    }
    .navcontainer {
      flex-direction: row;
      align-items: center;
    }
    .navlogo {
      font-size: 20px;
      padding: 15px;
    }
    .navlist {
      flex-direction: row;
      margin: 5px;
      row-gap: 1.5rem;
    }
    .Link {
      font-size: 16px;
      margin: 5px;
    }
  }
  
  /* For screens with a maximum width of 480px (mobile devices) */
  @media only screen and (max-width: 480px) {
    .header {
      background-size: 100% 150px;
      background-position: 0% 100%;
    }
    .navcontainer {
      flex-direction:row;
      align-items: center;
    }
    .navlogo {
      font-size: 15px;
      padding: 10px;
    }
    .navlist {
      flex-direction: row;
      margin: 3px;
      row-gap: 1rem;
    }
    .Link {
      font-size: 14px;
      margin: 3px;
    }
  }